<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="home.css">

        <title>Pooper | Home</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/home">Pooper</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0" method="post" action="/searchFriends">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search username" aria-label="Search" name="searchUserName">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logOut">Log out</a>
                    </li>
                </ul>
            </div>
        </nav>    
        
        <div class="container">
            {{#if session.profileImage}}
                <div class="text-center"><img id="profileImage" src="../images/profileImages/{{session.profileImage}}" width=auto height="200px"></div>
            {{else}}
                <h6>Profile image upload</h6>

                <form method="post" enctype="multipart/form-data" action="/profileImageUploadForm">
                    <div class="input-group">    
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="PI" name="PI">
                            <label class="custom-file-label" for="customFile">Choose profile image</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Upload profile image</button>
                        </div>    
                    </div>    
                </form>
            {{/if}}
            
            <div id="addDiv" data-toggle="tooltip" data-placement="top" title="Start a new poop">
                    <i id="addIcon" class="fas fa-plus-circle fa-5x" data-toggle="modal" data-target="#addNewPoop"></i>
            </div>    

            <!-- Modal -->
            <div class="modal fade" id="addNewPoop" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Start A New Poop</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="newPoopForm" method="post" action="/newPoopForm">
                                <div class="form-group">
                                    <input class="form-control" id="latitude" name="latitude">
                                    <input class="form-control" id="longitude" name="longitude">
                                    <input class="form-control" id="location" name="location">
                                    <textarea class="form-control" id="description" name="description" rows="3" placeholder="We would like to hear the details..."></textarea>
                                    <small class="form-text text-muted">Tell us about your poop-feelings!</small>
                                </div> 
                                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#congragulations">Start</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="congragulations" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Congragulations on your poop!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Beautiful.<br>Now everybody knows you are pooping.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            {{#if poops}}
                <h4>Friends' poop feed</h4>
                {{#each poops}}
                    <div id="newsFeed">
                        {{#if _creator.profileImage}}
                            <img id="newsFeedProfileImage" src="../images/profileImages/{{_creator.profileImage}}">
                        {{/if}}
                        <small class="text-muted" id="newsFeedStartDate">{{startDate}}</small>
                        <div id="newsFeedUserNameAndLocation">
                            <p id="newsFeedUserName">{{_creator.userName}}</p>
                            <small class="text-muted" id="newsFeedLocation">{{location}}</small>
                        </div>    
                        <div style="clear: both"></div>
                        <p id="newsFeedDescription">Description: {{description}}</p>
                    </div>    
                {{/each}}
            {{else}}
                <p>Your friends have not started pooping yet.</p>
            {{/if}}
        </div>    
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="../jsUtils/jquery-3.3.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="../../jsUtils/moment/moment.js"></script>
<!--        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu4sHvhI9ahOjY79PwhfDqmmophtJaYtM&callback=initMap"></script>-->
        <script src="../jsUtils/geolocation.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="home.js"></script>
    </body>
</html>