.navbar {
    background-color: #e3f2fd;
    margin-bottom: 50px;
}
.notificationsLength {
    width: 20%;
    height: 20%;
}
.notifs {
    cursor: pointer;
}
#deleteCommentNotificationBtn {
    float: right;
    border: none;
    background-color: white;
}
#commentDeleteIcon {
    color: indianred;
}
#profileImage {
    border: 3px solid gray;
    border-radius: 10px;
}
#PI:hover {
    cursor: pointer;
}
#addDiv {
    text-align: center; 
    margin-top: 50px;
    margin-bottom: 50px;
}
#addIcon {
    color: darkslategray;
}
#addIcon:hover {
    cursor: pointer;
}
#newsFeed {
    border: 3px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#newsFeedProfileImage {
    float: left;
    height: 100px;
    width: 100px;
    border: 3px solid #e3f2fd;
    border-radius: 10px;
    margin-right: 20px;
}
#newsFeedUserName {
    font-weight: bold;
}
newsFeedUserNameAndLocation {
    float: left;
}
#newsFeedStartDate {
    float: right;
}
#commentBtn:hover {
    cursor: pointer;
}
#indComments {
    border: 1px dotted gray;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.commentImage {
    width: 30px !important;
    height:30px !important;
}